@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Lato:wght@100;400&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.titulos{
  font-family: "Lato", sans-serif;
  font-style: normal;
}

.enlaces{
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.textos{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

#root{
  display: flex;
}

body{
  background: #F4F4F4;
}

.cvBtn span{
  background-color: #F4F4F4;
  color: #61dbfb;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.cvBtn span:hover{
  background-color: #61dbfb;
  color: #F4F4F4;
  transition: all 0.3s ease-in-out;
}

.contactoBtn span{
  background-color: #61dbfb;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

/* Hovers */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}