@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  min-height: 100vh;
}

body{
  background: #F4F4F4;
}

.cvBtn span{
  background-color: #F4F4F4;
  color: #61dbfb;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.contactoBtn span{
  background-color: #61dbfb;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}